<?xml version="1.0" encoding="UTF-8" ?>
 <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Output the log message to system console.  -->
  <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">    
    <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss,SSS} %t %-5p (%c) [%X{session}] %m%n"/>
        </layout>
  </appender>

  <!-- Output module loggers to a file -->
  <appender name="moduleAppender" class="org.apache.log4j.FileAppender">
    <param name="file" value="/u1/bchick/sandbox2/modules/var/log/qserv-master.proto.log" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %t %-5p %c{2} (%F:%L) [%X{session}] %m%n" />
    </layout>
  </appender>

  <!-- Debugging -->
  <appender name="debuggingAppender" class="org.apache.log4j.FileAppender">
    <param name="file" value="/u1/bchick/sandbox2/modules/var/log/debug.proto.log" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss,SSS} %c (%F:%L) %m%n" />
    </layout>
  </appender>

  <!-- Tracing -->
  <appender name="tracingAppender" class="org.apache.log4j.FileAppender">
    <param name="file" value="/u1/bchick/sandbox2/modules/var/log/trace.proto.log" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss,SSS} %t %F:%L %M()%n" />
    </layout>
  </appender>

  <root>
        <priority value="warn" />
        <appender-ref ref="consoleAppender"/>
  </root>

  <!-- Configure a logger for each qserv module. -->
  <category name="czar" >
        <priority value ="info" />
        <appender-ref ref="moduleAppender"/>
  </category>

  <category name="czar.control" additivity="false" >
        <priority value ="info" />
        <appender-ref ref="moduleAppender"/>
  </category>

  <category name="control.test" >
        <priority value ="debug" />
  </category>

  <!-- Configure tracer loggers. -->
  <category name="tracer" additivity="false" >
        <priority value ="info" />
        <appender-ref ref="tracingAppender"/>
  </category>

  <!-- Detailed tracing of AsynchQueryManager.cc -->
  <category name="tracer.control.AsynchQueryManager" >
        <priority value ="trace" />
  </category>

  <!-- Nested loggers for demonstration of logging contexts and
       hierarchical logging -->
  <category name="czar.control.loglevel_0" additivity="false" >
        <priority value ="debug" />
        <appender-ref ref="debuggingAppender"/>
  </category>

  <category name="czar.control.loglevel_0.loglevel_1" >
        <priority value ="debug" />
  </category>

  <category name="czar.control.loglevel_0.loglevel_1.loglevel_2" >
        <priority value ="debug" />
  </category>

  <category name="czar.control.loglevel_0.loglevel_1.loglevel_2.loglevel_3" >
        <priority value ="debug" />
  </category>

  <category name="czar.control.loglevel_0.loglevel_1.loglevel_2.loglevel_3.loglevel_4" >
        <priority value ="debug" />
  </category>


 </log4j:configuration>
